<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoes</title>
</head>
<body>
    <h1>admin</h1>

    <form action="/add_shoes">
        <button> add shoes</button>
    </form>
    <form action="/update_shoes">
        <div class="search">
            Name:<input type="text" name="name">

        </div>
        <button> update shoes</button>
    </form>

    <form action="/inventory">
        <button> inventory</button>
    </form>
    
</body>
</html>